<div class="container">
    <div class="row">
        <ll-jumbotron class="pink-purple">
            <img id="limboImg" src="/assets/monkey-pirate.png" class="img-fluid float-right" />
            <h3>Cart</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio laboriosam, incidunt iste dicta a maiores nihil deleniti recusandae est enim, excepturi assumenda pariatur voluptate temporibus error voluptas nemo aliquid praesentium.</p>
        </ll-jumbotron>
    </div>
</div>