<div class="container">
    <div class="row">
        <ll-jumbotron class="pink-purple col-12">
            <img id="limboImg" src="/assets/monkey-pirate.png" class="img-fluid float-right" />
            <h3>Who is Limbo?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam distinctio debitis eligendi, tempora voluptates laudantium, suscipit, vitae alias totam modi magni temporibus libero quam reprehenderit veritatis officiis delectus ex, ipsa.</p>
        </ll-jumbotron>
    </div>
</div>