.ll-link {
    padding: .5rem 1rem !important;
    font-weight: bold;
    color: #fff;
    border-radius: 1.25rem;
    &.red {
        background: $red;
    }
    &.blue {
        background: $blue;
    }
    &.green {
        background: $green;
    }
    &.orange {
        background: $orange;
    }
    &.pink {
        background: $pink;
    }
    &.purple {
        background: $purple;
    }
    &:hover {
        cursor: pointer;
        background-color: $orange;
        color: $white;
    }
    &:focus {
        outline: 5px auto $orange;
    }
}