@import '../../../scss/base/color';

:host {
    color: $white;

    img {
        width: 16.25rem;
    }

    .ll-modal-content {
        background-color: $red;
        border: 0.25rem solid $white;
        border-radius: 20px;
    }
}