@font-face {
    font-family: 'KBStickToThePlan';
    src: url('/assets/fonts/default-font.woff2') format('woff2'),
    url('/assets/default-font.woff') format('woff'),
    url('/assets/default-font.ttf') format('ttf'),
    url('/assets/default-font.eot') format('eot');
}

html, body {
    font-family: 'KBStickToThePlan';
}