@font-face {
    font-family: 'KBStickToThePlan';
    src: url('/assets/default-font.woff') format('woff'), url('/assets/default-font.eot') format('eot');
}

html, body {
    font-family: 'KBStickToThePlan';
}