    @import '../../../scss/base/color';
:host {
    color: $white;
    ll-jumbotron {
        display: flex;
        flex-flow: column;
        align-items: center;
        i {
            font-size: 10rem;
        }
        &.gender {
            width: 20rem;
        }

        #girlImage{
            width: 61%;
        }
    }
    .selectable {
        cursor: pointer;
        &:hover {
            box-shadow: 2px 4px 7px 5px rgba(0, 0, 0, 0.35);
        }
    }
}