<div class="container">
    <div *ngIf="!gender" class="row">
        <ll-jumbotron class="pink-purple col-12 mb-3">
            <h1>Who is the story for?</h1>
        </ll-jumbotron>
    </div>
    <div *ngIf="!gender" class="row justify-content-center align-items-center">
        <ll-jumbotron class="selectable gender blue col-4 mr-5" (click)="setGender('boy')">
            <h3>Boy</h3>
            <img class='img-fluid' src="/assets/jumping-boy.png" />
        </ll-jumbotron>
        <ll-jumbotron class="selectable gender light-pink col-4 pb-3" (click)="setGender('girl')">
            <h3>Girl</h3>
            <img id="girlImage" class='img-fluid' src="/assets/jumping-girl.png" />
        </ll-jumbotron>
    </div>
    <div *ngIf="gender" class="row">
        <ll-card *ngFor="let book of books | async" tabindex="0" class="selectable col-3" routerLink="/books/{{book.id}}">
            <img class='img-fluid' [src]="book.coverUrl" />
        </ll-card>
    </div>
</div>