<div class="container">
    <div class="row justify-content-around">
        <div id="carouselControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <ll-card>
                        <img class="img-fluid" [src]="(book | async).coverUrl" />
                    </ll-card>
                </div>
                <div *ngFor="let previewUrl of (book | async).previewPageUrls" class="carousel-item">
                    <ll-card>
                        <img class="img-fluid" src="{{ previewUrl }}" />
                    </ll-card>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <ll-jumbotron *ngIf="!userService.currentUser" [ngStyle]="{ background: (book | async).gender === 'male' ? '#00a1ee' : '#FF69B4' }" class="col-6">
            <h2 class="mb-3">Login to Customize</h2>
            <login-form></login-form>
        </ll-jumbotron>
        <ll-jumbotron *ngIf="userService.currentUser" [ngStyle]="{ background: (book | async).gender === 'male' ? '#00a1ee' : '#FF69B4' }" class="col-6 d-flex flex-column">
            <h1>{{ (book | async).title }}</h1>
            <p>{{ (book | async).description }}</p>
            <h3 class="text-right">{{ (book | async).price | currency:'USD':true }}</h3>
            <a class="ll-link green text-center" routerLink="./editor">Customize</a>
        </ll-jumbotron>
    </div>
</div>