:host {
  background-color: none;
  
  button {
    font-weight: bold;
    color: #fff;
    border-radius: 1.25rem;
  }
  :hover {
      background-color: #ff9b00;
      color: #fff;
    }

  :focus {
    outline: 5px auto #ff9b00;;
  }
}