/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import 'scss/main';

html, body {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url('./assets/landscape-1200.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;

    .copy {
        color: #fcd603;
        position: fixed;
        bottom: .5rem;
        right: .5rem;
        z-index: -1;
    }
}