@import 'base/module';
@import 'components/module';

html, body {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url('../assets/landscape-1200.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .copy {
        color: #fcd603;
        position: fixed;
        bottom: .5rem;
        right: .5rem;
        z-index: -1;
    }
}