<div class="container">
    <div class="row">
        <ll-jumbotron class="pink-purple col-12">
            <img id="limboImg" src="/assets/monkey-pirate.png" class="img-fluid float-right" />
            <h3>Contact Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vel voluptate eaque placeat, accusantium vitae ut est aliquid libero magni. Voluptatibus, repudiandae obcaecati, dolorum autem vitae temporibus officiis non veniam?</p>
        </ll-jumbotron>
    </div>
</div>