@import '../../../scss/base/color';

:host {
    display: inline-block;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border: 0.25rem solid white;
    border-radius: 4rem 2rem;
    padding: 2rem;
    height: 100%;
    background: $red;

    &.orange {
      background: $orange;
    }

    &.green {
      background: $green;
    }

    &.blue {
      background: $blue;
    }

    &.pink {
      background: $pink;
    }

    &.pink-purple {
      background: $pink-purple;
    }
}